.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 200px;
           
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #7986CB;
  color: floralwhite;
}
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #2d609b;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
    background: #ffffff;
    color: #539DC2;
    
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #ffffff;
  color: #50A6C2;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #ffffff;
  color: #50A6C2;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #ffffff ;
  color: #50A6C2;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #ffffff;
  color: #50A6C2;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #ffffff;
  color: #50A6C2;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}

.navbar-brand{
         
    padding:5px;
    
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}

body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

#myPhoto1{
    height: 300px;
    width: 200px;
        
}

#myPhoto2{
    height: 300px;
    width: 200px;
        
}

.customLongSpace{
    padding-left: 4em;
}

.customCentre{
    
    text-align: center;
}

.alignCentre{
    text-align: center;
    margin-top: 15px;
    
}

.customFont{
    color:floralwhite; 
    text-decoration: underline;
}

/*
----------------------------------------------- 
Code below was added for the drag and drop js module. 

*/


.bin {
  min-height: 150px;
  min-width: 150px;
  float: left;
  border: 1px solid red;
  padding: 20px;
}
.item {
  min-height: 150px;
  min-width: 150px;
  background: blue;
  float: right;
}
.drag {
  opacity: 0.5;
}
.over {
  background: red;
}