<div class="container">

    <div class="row row-content">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-3  ">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail" id="myPhoto2" src="app/images/myphoto.JPG" alt="Saravanan Duraisamy"> 
                        </a>
                    </div>
                </div>
            </div>
                <div class="col-xs-12 col-sm-9">                
            <div class="panel panel-primary">
                <div class="panel-heading">
                        <h2 class="panel-title">Skills</h2>
                    
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <h4>Project Management</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            </div>
                            </div>
                                               
                        </div>
                         <div class="col-xs-12 col-sm-4">
                            <h4>Software Development</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>
                                                
                        </div>
                         <div class="col-xs-12 col-sm-4">
                            <h4>Software Solutions Design</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                </div>
                            </div>                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <h4>Account Management</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>                    
                        </div>
                         <div class="col-xs-12 col-sm-4">
                            <h4>Strategic Planning</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                </div>
                            </div>                                                
                        </div>
                         <div class="col-xs-12 col-sm-4">
                            <h4>Process Design & Re-engineering</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <h4>Cost Estimation & Budgeting</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>                                                
                        </div>
                         <div class="col-xs-12 col-sm-4">
                            <h4>Sustainability</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                </div>
                            </div>                                               
                        </div>
                         <div class="col-xs-12 col-sm-4">
                            <h4>E - Business</h4>
                            <div class="progress">                                    
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                </div>
                            </div>                                                
                        </div>
                    </div>   
                </div>   
            </div>
        </div>
            </div>       
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Work Experience</h2>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                        &nbsp;&nbsp;
                                        Free Lance Applications Developer and Software Consultant</h4>
                                    <div class="list-group-item-text">
                                        <br>
                                        <p>                                        
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            July 2016 - Present
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Just completed my first Project - an android app for a Russian Customer. 
                                        </p>  
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Go live expected in a month. 
                                        </p> 
                                    </div>                     
                                </div>
                                <div class="list-group-item">
                                    <div class="list-group-item-heading">
                                        <h4>
                                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                                            &nbsp;&nbsp;
                                            Project Manager
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-at" aria-hidden="true"></i>
                                            <a href="http://www.tallysolutions.com/" target="_blank">Tally Solutions Pvt. Ltd., Bangalore India.
                                            </a>
                                        </h4>
                                            
                                    </div>
                                    <div class="list-group-item-text">
                                        <br>
                                        <p>                                        
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            June 2011 - October 2013
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Lead multiple projects during my tenure with the Company. 
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Successfully operated in a Matrix structure collabrating with partner teams to design and implement solutions based on the Tally.ERP9 platform.  
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Some of the key projects that I handled were a Software implementation for a <a href="http://projects.worldbank.org/P079708/tamil-nadu-empowerment-poverty-reduction?lang=en&tab=overview" target="_blank">World Bank</a> Funded <a href="http://www.pudhuvaazhvu.org/index.html" target="_blank">Poverty Reduction Program</a> and another one funded by <a href="https://operations.ifad.org/web/ifad/operations/country/project/tags/india/1348/project_overview" target="_blank">IFAD</a> for the <a href="http://www.ptslp.org/" target="_blank">Tsunami Victims</a> both of which were in Collabration with the State Government of Tamil Nadu.
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Under my leadership, for the World Bank Program, we designed a Beneficiary Tracking & Accounting Software and implemented it in about 5000 villages and trained about 20000 semi-literate women to use computers and the software to manage the operations of their village entities (Self Help Groups and their Federations).
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            This Project was awarded the best E-Governance Implementation Award by PC Quest Magazine. 
                                        </p>
                                    </div>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                        &nbsp;&nbsp;
                                        Analyst Programmer
                                        <span class="customLongSpace"></span>
                                        <i class="fa fa-at" aria-hidden="true"></i>
                                        <a href="http://www.ramco.com/" target="_blank">
                                            Ramco Systems Pvt. Ltd., Chennai, India.
                                        </a>
                                    </h4>
                                    <div class="list-group-item-text">
                                        <br>
                                        <p>                                        
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            March 2007 - April 2008
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Worked as a SQL Developer and a Front End Designer.    
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Major part of my time was in the Business Consulting Group - the Presales Arm of the company.     
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            My role was to provide technical support for the Domain Consultants in their presales efforts. 
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Some key tasks included rapid prototyping of applications, custmozation of existing products for demos. 
                                        </p>
                                        <p>                                        
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            I also spent a few months with a Project Team during the User Testing Phase of the project. 
                                        </p>
                                        <p>
                                            <span class="glyphicon glyphicon-triangle-right"></span>
                                            Some key acheivements during this time were developing about 120 user interfaces in about a week for a Requirements SignOff on a project and successful testing and shipment of the User Server for a project. 
                                        </p>
                                    </div>                     
                                </div>                  
                            </div>              
                        </div>
                    </div>        
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Software Knowledge</h2>                
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4>HTML & CSS</h4>
                                    <div class="progress">                                    
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>                                        
                                    </div>                                                                    
                                </div>
                                <div class="list-group-item">
                                    <h4>Android</h4>
                                    <div class="progress">                                    
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>                                        
                                    </div>
                                                        
                                </div>
                                <div class="list-group-item">
                                    <h4>Java</h4>
                                    <div class="progress">                                    
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>                                            
                                    </div>                                                                    
                                </div>
                                <div class="list-group-item">
                                    <h4>Nodejs</h4> 
                                    <div class="progress">                                    
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>                                        
                                    </div>                      
                                </div>
                                <div class="list-group-item">
                                    <h4>Ionic Framework</h4>
                                    <div class="progress">                                    
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>                                        
                                    </div>                     
                                </div>
                                <div class="list-group-item">
                                    <h4>Mongo DB</h4>
                                    <div class="progress">                                    
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>                                        
                                    </div>                    
                                </div>
                                <div class="list-group-item">
                                    <h4>AngularJS</h4>
                                    <div class="progress">                                    
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>                                        
                                    </div>                      
                                </div>
                                <div class="list-group-item">
                                    <h4>Javascript</h4>
                                    <div class="progress">                                    
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>                                        
                                    </div>                     
                                </div>                                                             
                            </div>
                        
                        </div>
                    
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Education</h4>                        
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4  class="list-group-item-heading"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Masters Degree in International Strategy and Sustainability (Pursuing)</h4>
                                    <div class="list-group-item-text">
                                        <br>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                            <a href="https://www.hanken.fi/en" target="_blank">
                                            Hanken School of Economics, Helsinki, Finland
                                            </a>    
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            August, 2014 - Current
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                                            International Strategy and Sustainability
                                        </p>
                                    </div>                          
                                </div>
                                <div class="list-group-item">
                                    <h4  class="list-group-item-heading"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Post Graduate Diploma in Management</h4>
                                    <div class="list-group-item-text">
                                        <br>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                            <a href="http://bimtech.ac.in/" target="_blank">                                         Birla Institute of Management Techonology, Greater Noida, NCR, India 
                                            </a>    
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            June, 2009 - May, 2011
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                                            Finance, Operations and Project Management
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            On Exchange Studies in 
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                            <a href="http://www.skema.edu/" target="_blank">
                                            SKEMA Business School, Paris, France 
                                            </a>    
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                            <a href="http://www.jamk.fi" target="_blank">
                                            JAMK University of Applied Sciences, Jyvaskyla, Finland 
                                            </a>    
                                        </p>
                                        
                                    </div>                          
                                </div>
                                 <div class="list-group-item">
                                    <h4  class="list-group-item-heading">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i> Diploma in High Tech Management</h4>
                                    <div class="list-group-item-text">
                                        <br>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                            <a href="http://www.jamk.fi" target="_blank">
                                            JAMK University of Applied Sciences, Jyvaskyla, Finland 
                                            </a> 
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            Jan, 2011 - May, 2011
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                                            High Tech Management
                                        </p>
                                    </div>                          
                                </div>
                                 <div class="list-group-item">
                                    <h4  class="list-group-item-heading">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i> 
                                        Bachelors Degree in Engineering
                                     </h4>
                                    <div class="list-group-item-text">
                                        <br>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                            <a href="http://www.tce.edu/" target="_blank">
                                            Thiagarajar College of Engineering, Madurai, India
                                            </a>    
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            July, 2002 - November, 2006
                                        </p>
                                        <p>
                                            <span class="customLongSpace"></span>
                                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                                            Electronics and Communications
                                        </p>
                                    </div>                          
                                </div>
                            </div>
                        
                        </div>
                    
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Interests and Hobbies</h4>                        
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <h1 class="customCentre">Gym</h1>                                    
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <p class="customCentre">Gaming</p>                                    
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h3 class="customCentre">Software Development</h3>                                    
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <p class="customCentre">Cooking</p>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <p class="customCentre">Music</p>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4 class="customCentre">Photography</h4>                          
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <p class="customCentre">Camping</p>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h3 class="customCentre">Hiking</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <h2 class="customCentre">Documentaries</h2>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <p class="customCentre">Reading</p>                          
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4 class="customCentre">Driving</h4>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <p class="customCentre">DIY</p>
                                </div>                  
                            </div>
                        </div>
                    
                    </div>
                
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Certifications</h4>              
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                        &nbsp;
                                        Certified Associate in Project Management
                                    </h4>
                                    <div class="list-group-item-text">
                                        <p>
                                            &nbsp;&nbsp;
                                            <i class="fa fa-building" aria-hidden="true"></i>
                                            <a href="http://www.pmi.org/" target="_blank">Project Management Institute, USA.</a> 
                                        </p>                                    
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                        &nbsp;
                                        PRINCE2 Foundation Certified
                                    </h4>
                                    <div class="list-group-item-text">
                                        <p>
                                            &nbsp;&nbsp;
                                            <i class="fa fa-building" aria-hidden="true"></i>
                                            <a href="https://www.axelos.com/best-practice-solutions/prince2" target="_blank">
                                            Office of Government Commerce, Government of UK. 
                                            </a>    
                                        </p>                                    
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                        &nbsp;
                                        Certified Cost Technician
                                    </h4>
                                    <div class="list-group-item-text">
                                        <p>
                                            &nbsp;&nbsp;
                                            <i class="fa fa-building" aria-hidden="true"></i>
                                            <a href="http://web.aacei.org/" target="_blank">
                                            American Association of Cost Engineers International, USA. 
                                            </a>    
                                        </p>                                    
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                        &nbsp;
                                        Certified Scrum Master
                                    </h4>
                                    <div class="list-group-item-text">
                                        <p>
                                            &nbsp;&nbsp;
                                            <i class="fa fa-building" aria-hidden="true"></i>
                                            <a href="https://www.scrumalliance.org/" target="_blank">
                                            Scrum Alliance, USA. 
                                            </a>    
                                        </p>
                                        <p>
                                            &nbsp;&nbsp;
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            Certification Exam Never Completed.(At some point I figured that knowledge was more important than a certificate so never took it. <i class="fa fa-smile-o" aria-hidden="true"></i>)
                                        </p>
                                    </div>
                                </div>
                            
                            </div>
                        
                        
                        
                        
                        </div>
                    
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Operating Systems & Software Packages</h4>
                        
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Windows</h4>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">MEAN Stack</h4>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Word Press</h4>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Bootstrap</h4>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Salesforce Developer</h4>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">VBA</h4>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Adobe Dreamweaver</h4>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">MS Office</h4>                     
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">SQL</h4>                     
                                </div>
                            
                            </div>
                        
                        </div>
                        
                    
                    
                    </div>
                
                </div>   
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Nationality</h4>
                        </div>
                        <div class="panel-body">
                            <span class="customLongSpace"></span>
                            <h4>
                                
                                <i class="fa fa-flag" aria-hidden="true"></i>
                                Indian
                            </h4>    
                        </div>
                    
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Languages</h4>
                        </div>
                        <div class="panel-body">
                            
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <h4>Tamil <small># Native</small></h4>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4>English <small># Advanced</small></h4>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4>Hindi <small># Beginner</small></h4>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4>Finnish <small># Beginner</small></h4>
                                </div>                   
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <h4>French <small># Beginner</small></h4>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4>Kannada <small># Beginner</small></h4>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4>Malayalam <small># Beginner</small></h4>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h4>Telugu <small># Beginner</small></h4>
                                </div>
                            
                            </div>                       
                        </div>
                    
                    </div>
                </div>
            
            </div>
        </div>        
    </div>
</div>
        
                    
        
                    
                    
                
                
            
                
        
        
        
    
    
    
    


