<div class="container">

    <div class="row row-content">
        <div class="col-xs-12">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Contact Details</h2>                        
                </div>
                <div class="panel-content">
                    <table>
                        <tr>
                            <td>
                                <h3>&nbsp;&nbsp;<strong>Saravanan Duraisamy</strong></h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <address style="font-size: 120%">
                                    
                                    &nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i>
                                    <a href="mailto:saravanandurai@gmail.com">saravanandurai@gmail.com</a><br>                                  
                                    &nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i><a href="tel:+358465717924">FIN +358 465717924</a><br>
                                    
                                    &nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i><a href="tel:+919940064299">IND +91 9940064299</a><br>
                                    
                                    &nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/saravanan-duraisamy-647a4219" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                                    <span class="customLongSpace"></span>
                                </address>
                            </td>
                        </tr>
                    
                    </table>
                
                
                </div>                
            
            </div>
            
            
        
        
        
        
        </div>
    
    
    
    
    </div>


</div>