<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p style="padding:1px;"></p>
                <p align="center">© Copyright 2016 Saravanan Duraisamy</p>    
            </div>       
        </div>  
    </div>
</footer>