<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" 
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="app/images/mylogo.png" height=40 width=30></a>            
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: stateis('app')}" ng-click="navCollapsed = true" >
                        <a ui-sref="app">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            Home
                        </a>
                    </li>
                    <li ng-class="{active: stateis('app.about')}" ng-click="navCollapsed = true">
                        <a ui-sref="app.about">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            About
                        </a>
                    </li>
                    <li ng-class="{active: stateis('app.mywork')}" ng-click="navCollapsed = true">
                        <a ui-sref="app.mywork">
                            <span class="fa fa-laptop" aria-hidden="true"></span>
                            My Work
                        </a>
                    </li>
                    
                    <li ng-class="{active: stateis('app.playground')}" ng-click="navCollapsed = true">
                        <a ui-sref="app.playground">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                            Playground
                        </a>
                    </li>
                    <li ng-class="{active: stateis('app.contact')}" ng-click="navCollapsed = true">
                        <a ui-sref="app.contact">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            Contact
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h4  class="alignCentre"><a href="tel:+358465717924" class="customFont">Call me @ +358 465717924</a></h4>
                    </li>        
                </ul>
            </div>
        </div> 
</nav>

    <header>
          
    
    </header>