<div class="container">

    <div class="row row-content">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object img-thumbnail" id="myPhoto1" src="app/images/myphoto.JPG" alt="Saravanan Duraisamy">
                            </a>               
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="media-body">
                                <h1>Hi,</h1>
                                <h3>I am Saravanan Duraisamy. Welcome to my Website!</h3>
                                <p class="lead">I am an aspiring technology entrepreneur who is currently going through the difficult task of writing my second Masters Thesis <i class="fa fa-smile-o" aria-hidden="true"></i>. This site serves two distinct purposes. One is to help me find potential customers and partners. Two is to serve as a testplatform for my tech projects.</p> 
                                <p class="lead"><span>    </span>About page would give you more information on my past. My Work page lets you take a peek at my past projects. The Playground page as the name suggests is my little geeky playground. You may find some awesome things, some funny things and also potentially you may encounter a 404 - Page Not Found. If you do so my apologies that means that page is not up or not open for you chaps. Move on! Have fun and Live Life!  </p>                
                            </div>
                        </div>    
                    </div>                   
                </div>   
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <h3 class="list-group-item-heading">Who am I?</h3>                    
                        </li>
                        <li class="list-group-item">
                            <div class="list-group-item-text">
                                <h4>Student, Developer, Creator, Entrepreneur</h4>
                                <h4>In the past I have also worn the hat of a Project Manager.</h4>        
                            </div>               
                        </li>
                    </ul>       
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 pull-right">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <h3 class="list-group-item-heading">What I do?</h3>                    
                        </li>
                        <li class="list-group-item">
                            <div class="list-group-item-text">
                                <h4>I am currently pursuing my Masters in International Strategy and Sustainability.</h4> 
                                <h4>I also Build Software</h4>                                
                            </div>               
                        </li>
                    </ul>       
                </div>            
            </div>
            <div class="row">
                <div class="col-xs-12">                        
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <h3 class="list-group-item-heading">What do I Offer?</h3>                    
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"><h4>For Customers</h4></div>
                                        <div class="panel-body">
                                                <h4>I offer my services as a Software Developer.</h4>
                                                <h4>I build Mobile Applications and Web Applications.</h4>  
                                                <h4>The technologies I work with are MEAN Stack, Ionic FrameWork and Native Android.</h4>
                                        </div>                   
                                    </div>                           

                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"><h4>For Partners</h4></div>
                                        <div class="panel-body">
                                            <h4>An oppurtunity to partner with on Technology Projects. </h4>
                                            <h4>My focus area is in Enterprise Resource Planning Applications.</h4>
                                            <h4>If you think you have a great idea in the field of Business Software, then feel free to contact me.</h4>
                                        </div>                   
                                    </div>                           

                                </div>
                            </div>                       

                        </li>
                    </ul>       
                </div>             
            </div>
        </div>        
    </div>
</div>