<div class="container">
    
    <div class="row row-content">
        <div class="col-xs-12">
            
            <div class="row">
                <div class="col-xs-12">
                    <h1>Playground</h1>
                </div>            
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4"0>
                    <h3>Space for Clickable elements adder</h3>
                </div>
                <div class="col-xs-12 col-sm-4"0>
                    <h3>Droppable Area for the various fields. </h3>
                    
                    <form class="form-horizontal">
                        <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username">                        
                        </div>
                    
                    
                    
                    </form>
                
                </div>
                    
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{test}}</h4>

                    <div ng-bind-html="domtest"></div>

                    <div class="bin" droppable drop="handleDrop()">

                    </div>      
                    <div class="item" id="item1" draggable></div>

                    </div>
                </div>
            </div>
        </div>
    
        
    


</div>